name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          stale-issue-message: 'This issue was marked as stale because it has been open 15 days with no activity. Remove the stale label or comment on this issue or this issue will be closed in 5 days.'
          stale-pr-message: 'This PR was marked as stale because it has been open 15 days with no activity. Remove the stale label or comment on this pull request or this pull request will be closed in 5 days.'
          close-issue-message: 'This issue was closed because it has been stale for 5 days with no activity.'
          close-pr-message: 'This PR was closed because it has been stale for 5 days with no activity.'
          days-before-issue-stale: 15
          days-before-pr-stale: 15
          days-before-issue-close: 5
          days-before-pr-close: 5